(duck) {
  tls {
    dns duckdns ADD_YOUR_DUCKDNS_TOKEN_HERE
    key_type rsa2048
  }
}

immich.YOUR_DUCKDNS_DOMAIN.duckdns.org {
  import duck
  reverse_proxy :2283
}

jellyfin.YOUR_DUCKDNS_DOMAIN.duckdns.org {
  import duck
  reverse_proxy :8096
}

nextcloud.YOUR_DUCKDNS_DOMAIN.duckdns.org {
  import duck
  reverse_proxy :1234
}

linkding.YOUR_DUCKDNS_DOMAIN.duckdns.org {
  import duck
  reverse_proxy :9090
}
